{% extends "layouts/base.njk" %}

{% block content %}
    <h1>Default</h1>
    <img src="https://res.cloudinary.com/fmeyer1980/image/upload/f_auto,q_auto,w_90,h_90,c_thumb,g_face,r_max/v1582322367/blog/{{ image }}" alt="{{ title }}" width="90" height="90">
{% endblock content %}
