<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ settings.siteName }}{%- if title -%}{{ title }}{%- endif -%}</title>
        <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}{{ settings.siteDescription }}{%- endif -%}">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    </head>
    <body class="{{ body_class }}">
        <header>
            <ul class="nav">
                {%- for nav in collections.nav -%}
                <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
                {%- endfor -%}
            </ul>
        </header>
        {% block content %}
        
        {% endblock content %}
    </body>
</html>

